@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Alegreya', serif;
    text-align: center;
    margin: 0;
    padding: 0 0 60px;
    min-height: calc(100% - 78px);
    background-image: linear-gradient(to top, rgb(253, 234, 255), rgb(252, 173, 216));
    background-attachment: fixed;
}

h1 {
    margin: 18px 0;
    padding: 12px;
    background-image: linear-gradient(rgba(252, 173, 216, 0), rgba(253, 234, 255, 0.6), rgb(253, 234, 255), rgba(252, 173, 216, 0))
}

h2 {
    margin: 9px 0;
    padding: 12px;
    background-image: linear-gradient(rgba(252, 173, 216, 0), rgba(255, 252, 244, 0.2), rgba(255, 252, 244, 0.4), rgba(252, 173, 216, 0))
}

input {
    width: calc(100% - 30px);
    max-width: 488px;
    margin-top: 6px;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    color: rgb(66, 40, 0);
    border: 1px solid rgb(180, 156, 121);
}

button {
    width: calc(100% - 30px);
    max-width: 500px;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 12px;
    padding: 3px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    background-color: rgb(228, 228, 228);
}

p {
    margin: 0 6px;
    color: rgb(27, 0, 11);
}

#results {
    display: none;
}

#current-conditions {
    margin-bottom: 24px;
}

footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 24px);
    margin: 0;
    padding: 36px 12px 12px;
    background-image: linear-gradient(to bottom, rgba(253, 234, 255, 0), rgb(253, 234, 255),rgb(252, 173, 216));
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}